@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  position: relative;
}

header {
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  background-color: #13131F;
  z-index: 9;
}
header .contein {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .contein div:first-child {
  width: 35px;
  height: 35px;
}
header .contein div:first-child:hover {
  background-color: #8257E6;
  border-radius: 50%;
}
header .contein div:first-child:hover i {
  color: #13131F;
}
header .contein div:first-child i {
  font-size: 25px;
  color: hsl(275, 78%, 53%);
}
header .contein div:nth-child(2) h1 {
  padding: 30px 0;
  font-size: 26px;
  font-weight: 700;
}
header .contein div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 17px;
}
header .contein div:last-child .toggle-container {
  position: relative;
  width: 100%;
  height: 100%;
}
header .contein div:last-child .toggle-checkbox {
  display: none;
}
header .contein div:last-child .toggle-label {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: hsl(275, 78%, 53%);
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
header .contein div:last-child .toggle-option {
  font-size: 2rem;
  color: #555;
  z-index: 1;
  flex: 1;
  text-align: center;
  line-height: 30px;
  pointer-events: none;
  transition: color 0.3s ease;
}
header .contein div:last-child .toggle-ball {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 17px;
  height: 17px;
  background-color: #13131F;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
header .contein div:last-child .toggle-checkbox:checked + .toggle-label {
  background-color: white;
}
header .contein div:last-child .toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(30px);
}
header .contein div:last-child .toggle-checkbox:checked + .toggle-label .toggle-option:first-child {
  color: #ddd;
}
header .contein div:last-child .toggle-checkbox:checked + .toggle-label .toggle-option:last-child {
  color: white;
}
header:after {
  background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}

.nav-bar-hidden {
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  display: none;
  z-index: -1;
}
.nav-bar-hidden ul {
  padding: 0;
  list-style: none;
  font-size: 35px;
}
.nav-bar-hidden li {
  margin: 15px 0;
}
.nav-bar-hidden a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.nav-bar-hidden a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=header.css.map */