@use 'utilitários.scss' as u;

body {
    position: relative;
}

header {
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    background-color: u.$bg-header;
    z-index: 9;

    .contein {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            &:first-child {
                width: 35px;
                height: 35px;

                &:hover {
                    background-color: u.$bg-menu;
                    border-radius: 50%;

                    i {
                        color: u.$bg-body;
                    }
                }

                i {
                    font-size: 25px;
                    color: u.$border;
                }
            }

            &:nth-child(2) {
                h1 {
                    padding: 15px 0;
                    font-size: 26px;
                    font-weight: 700;
                }
            }

            &:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px; 
                height: 17px;
                
                .toggle-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                
                .toggle-checkbox {
                    display: none;
                }

                .toggle-label {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    background-color: u.$border;
                    border-radius: 25px;
                    cursor: pointer;
                    padding: 5px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    transition: background-color 0.3s ease;
                }
                
                .toggle-option {
                    font-size: 2rem;
                    color: #555;
                    z-index: 1;
                    flex: 1;
                    text-align: center;
                    line-height: 30px;
                    pointer-events: none;
                    transition: color 0.3s ease;
                }
                
                .toggle-ball {
                    position: absolute;
                    top: 5px;
                    left: 7px;
                    width: 17px;
                    height: 17px;
                    background-color: u.$bg-header;
                    border-radius: 50%;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                    transition: transform 0.3s ease;
                }
                
                .toggle-checkbox:checked + .toggle-label {
                    background-color: white;
                }

                .toggle-checkbox:checked + .toggle-label .toggle-ball {
                    transform: translateX(30px);
                }

                .toggle-checkbox:checked + .toggle-label .toggle-option:first-child {
                    color: #ddd;
                }

                .toggle-checkbox:checked + .toggle-label .toggle-option:last-child {
                    color: white;
                }
            }
        }
    }

    &:after {
        background-image: u.$gradient;
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
    }
}

.nav-bar-hidden {
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    width: 100%;
    display: none;
    z-index: -1;

    ul {
        padding: 0;
        list-style: none;
        font-size: 35px;
    }

    li {
        margin: 15px 0;
    }

    a {
        text-decoration: none;
        text-transform: capitalize;
        color: u.$text-white;

        &:hover {
            text-decoration: underline;
        }
    }
}
