@use 'utilitários.scss' as u;

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: u.$bg-body;
    color: u.$text-white;
    font-family: u.$font-1;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    text-align: center;
}

header, main, footer {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: transparent;
    padding: 10px 15px;
    color: u.$text-white;
    border-radius: 30px;
    border: 2px solid u.$border;
    cursor: pointer;
    font-family: u.$font-2;
    transition: transform 0.2s ease, background 0.3s ease;
    
    &:hover {
        background-image: u.$gradient;
        transform: scale(0.95);
    }
}

.zoom-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.1); // Aumenta o tamanho da div
        
    }
}

.typing-effect {
  white-space: nowrap; /* Evita quebra de linha */
  overflow: hidden; /* Esconde o texto que não cabe na área visível */
  width: 100%; /* Define a largura completa após digitar */
  animation: typing 2.5s steps(30, end), blink 0.5s step-end infinite; /* Digitação + cursor */
}
  
/* Animação para simular a digitação */
@keyframes typing {
  from {
    width: 0; /* Começa com texto oculto */
  }
  to {
    width: 100%; /* Mostra o texto completo */
  }
}

/* Animação para o cursor piscante */
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: u.$text-white; /* Alterna entre transparente e preto */
  }
}
  
.slide-in {
  opacity: 0; /* Inicialmente invisível */
  transform: translateX(-150px); /* Começa mais fora da tela à esquerda */
  transition: transform 1s ease-out, opacity 1s ease-out; /* Efeito mais lento */
}

/* Quando o elemento entra na tela */
.slide-in.active {
  opacity: 1;
  transform: translateX(0); /* Move para a posição original */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: u.$scroll-bg;
}

::-webkit-scrollbar-thumb {
    background: u.$scroll-bar;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: u.$scroll-hover;
}