@use 'utilitários.scss' as u;

.light-mode {
    main {
        background-color: u.$bg-body-white;
        color: u.$text-black;
    }

    .home {
        input {
            color: u.$text-black;
            font-weight: 500;

            &:hover {
                color: u.$text-white;
            }
        }
    }

    .projects {
        h3 {
            color: u.$text-white;
        }
        .oculto {
            p {
                color: u.$text-white;
            }
        }
    }

    .contacts {
        .info {
            p {
                a {
                    color: u.$text-black;
                }
            }
        }
    }
}