@use 'utilitários.scss' as u;

main {
    font-family: u.$font-2;

    .home, .about, .skills, .projects, .contacts {
        min-height: 100vh;
    }

    .home {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text-color {
            color: u.$border;
        }

        div {
            &:first-child {
                display: flex;
                flex-direction: column;
                text-align: left;

                h1, p{
                    font-size: 30px;
                    font-weight: 500;
                }

                p, span, input {
                    margin-top: 5px;
                }

                p {
                    color: u.$border;
                }
            }

            img {
                width: 390px;
                height: 390px;
                border-radius: 50%;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 80%;
            text-align: justify;
        }

        h1 {
            margin-bottom: 10px;
        }
    }

    .skills {
        margin-bottom: 50px;

        h1 {
            margin-bottom: 40px;
        }

        .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 60%;
            margin: auto;
            gap: 2rem;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                h1 {
                    font-size: 17px;
                    font-weight: 500;
                    color: u.$text-white;
                    margin: 10px 0 5px 0;
                }
            
                img {
                    margin: auto;
                    height: 55px;
                    width: 55px;
                }
            }            
        }
    
        .item {
            height: 120px;
            width: 120px;
            background-color: u.$bg-cards;
            border-top-left-radius: 30px;
    
            &::after {
                background-image: u.$gradient;
                content: "";
                height: 3px;
                display: block;
                position: relative;
                bottom: 0;
            }
        }
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px 5px; /* Espaçamento de 20px entre os cards horizontalmente e 5px verticalmente */
        margin: 20px auto 100px auto; /* Espaçamento de 20px em cima e nas laterais, e 10px embaixo */
        width: 80vw;
        height: auto;
        position: relative;
        justify-content: space-evenly; /* Garante que os cards fiquem distribuídos uniformemente */
    
        .titulo {
            position: absolute;
            top: -80px;
        }
        
        .card {
            background-color: white;
            width: 394px;
            height: 246px;
            position: relative;
            z-index: 1; /* Garantindo que o card fique acima de outros elementos */
            
            .oculto {
                height: 50px;
                width: 100%;
                position: absolute;
                bottom: -50px;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                justify-content: space-evenly;
                align-items: center;
                background-color: rgba(33, 33, 33, 0.9); /* Fundo escuro */
                z-index: 2;
                display: flex;
                opacity: 0;
                transform: translateY(0px);
                transition: all 0.6s ease;
            }
            
            &:hover .oculto {
                opacity: 1;
                transform: translateY(0);
            }
    
            &:hover .banner {
                background-color: transparent;
                backdrop-filter: none;
            }
    
            &:hover .titulo-projeto {
                display: none;
            }
    
            input {
                height: 30px;
                padding: 2px 15px;
                display: flex;
                font-weight: 400;
                font-size: 15px;
            }
        }
    
        .card.no-hover {
            transform: scale(1);
            box-shadow: none;
            pointer-events: none;
        }
    
        .banner {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
        }
    
        .titulo-projeto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        /* Centralizando a .oculto-content sobre todas as camadas */
        .oculto-content {
            display: none; /* Inicialmente invisível */
            background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo escura */
            position: fixed;
            top: 0; /* Ajustado para ficar na tela */
            left: 50%;
            width: 80vw;
            height: 75vh;
            transform: translate(-50%, 0); /* Centralizando na tela */
            z-index: 9999; /* Colocando acima de todos os outros elementos */
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            flex-direction: column;
            position: relative;
            pointer-events: all; /* Garante que os links e vídeos sejam clicáveis */
        }
    
        /* Botão de fechar */
        .close-button {
            position: absolute;
            top: 10px;
            right: 15px;
            background: none;
            border: none;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            z-index: 11000; /* Botão de fechar em cima da div */
            transition: transform 0.3s ease;
        }
    
        .close-button:hover {
            transform: scale(1.2);
        }
    
        .content {
            height: 90%;
            display: flex;
            flex-direction: row;
        }
    
        .video {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .info {
            width: 50%;
            text-align: justify;
            position: relative;
            font-weight: 500;
            color: #888;
            font-size: 15px;
    
            h1 {
                text-align: center;
                margin: 10px 0;
                color: #6a5acd;
                font-size: 25px;
            }
    
            p {
                margin: 0px 15px;
                max-height: 380px;
                overflow-y: auto;
            }
    
            ul {
                margin-left: 35px;
                margin-top: 10px;
                margin-bottom: 15px;
            }
    
            span {
                margin: 0px 0px 0px 15px;
                color: #6a5acd;
            }
        }
    
        .links {
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    
        .links a {
            margin: 0 10px 20px 15px;
            color: white;
            text-decoration: none;
            background-image: linear-gradient(90deg, #8257e6 0%, #a40ee4 92.32%);
            padding: 5px 15px;
            border-radius: 5px;
            font-weight: 400;
            pointer-events: all;
        }
    }     
    
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .content {
            margin-top: 50px;
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
    
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                a {
                    color: u.$text-white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
        .logo {
            width: 80px;
            height: 80px;
            margin-bottom: 5px;
            border-radius: 50%;
            background-color: u.$bg-cards;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 60px;
                max-height: 60px;
                min-width: 50px;
                min-height: 50px;
            }
        }
    }
}
