@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
  font-family: "Poppins", serif;
}
main .home, main .about, main .skills, main .projects, main .contacts {
  min-height: 100vh;
}
main .home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .home .text-color {
  color: hsl(275, 78%, 53%);
}
main .home div:first-child {
  display: flex;
  flex-direction: column;
  text-align: left;
}
main .home div:first-child h1, main .home div:first-child p {
  font-size: 30px;
  font-weight: 500;
}
main .home div:first-child p, main .home div:first-child span, main .home div:first-child input {
  margin-top: 5px;
}
main .home div:first-child p {
  color: hsl(275, 78%, 53%);
}
main .home div img {
  width: 390px;
  height: 390px;
  border-radius: 50%;
}
main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about div {
  width: 80%;
  text-align: justify;
}
main .about h1 {
  margin-bottom: 10px;
}
main .skills {
  margin-bottom: 50px;
}
main .skills h1 {
  margin-bottom: 40px;
}
main .skills .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  gap: 2rem;
}
main .skills .content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .skills .content div h1 {
  font-size: 17px;
  font-weight: 500;
  color: white;
  margin: 10px 0 5px 0;
}
main .skills .content div img {
  margin: auto;
  height: 55px;
  width: 55px;
}
main .skills .item {
  height: 120px;
  width: 120px;
  background-color: #212121;
  border-top-left-radius: 30px;
}
main .skills .item::after {
  background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  content: "";
  height: 3px;
  display: block;
  position: relative;
  bottom: 0;
}
main .projects {
  display: flex;
  flex-direction: column;
  /* Quando .oculto-content estiver visível */
}
main .projects .titulo {
  margin-bottom: 20px;
}
main .projects .cards {
  width: 80%;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 0; /* Contexto padrão */
}
main .projects .card {
  background-color: white;
  width: 393px;
  height: 245px;
  position: relative;
  z-index: 1;
  margin: 15px 0;
  transition: z-index 0.3s ease;
}
main .projects .card .banner {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
main .projects .card .titulo-projeto {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .projects .card .oculto {
  position: absolute;
  bottom: -60px;
  z-index: 10; /* Posição padrão da .oculto */
  height: 60px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(33, 33, 33);
  opacity: 0;
  transform: translateY(0px);
  transition: all 0.6s ease;
}
main .projects .card .oculto-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Garante que a .oculto-content esteja no topo */
  width: 80vw;
  height: 600px;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.774);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  pointer-events: auto; /* Permite interação com o conteúdo interno */
}
main .projects .card .oculto-content .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000; /* Garante que o botão de fechar fique no topo */
  pointer-events: auto; /* Garante que o botão seja clicável */
  transition: transform 0.3s ease;
}
main .projects .card .oculto-content .close-button:hover {
  transform: scale(1.2);
}
main .projects .card .oculto-content .content {
  height: 90%;
  display: flex;
  flex-direction: row;
}
main .projects .card .oculto-content .content .video {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; /* Garante que o vídeo fique no topo */
  pointer-events: auto; /* Permite interação com o vídeo */
}
main .projects .card .oculto-content .content .info {
  width: 50%;
  text-align: justify;
  font-weight: 500;
  color: #888;
  font-size: 15px;
}
main .projects .card .oculto-content .content .info h1 {
  text-align: center;
  margin: 10px 0;
  color: #6a5acd;
  font-size: 25px;
}
main .projects .card .oculto-content .content .info p {
  margin: 0px 65px 0px 0;
  max-height: 300px;
  overflow-y: auto;
}
main .projects .card .oculto-content .content .info p ::-webkit-scrollbar {
  width: 8px;
}
main .projects .card .oculto-content .content .info p ::-webkit-scrollbar-track {
  background: #13131F;
}
main .projects .card .oculto-content .content .info p ::-webkit-scrollbar-thumb {
  background: #552686;
  border-radius: 5px;
}
main .projects .card .oculto-content .content .info p ::-webkit-scrollbar-thumb:hover {
  background: hsl(275, 78%, 53%);
}
main .projects .card .oculto-content .content .info ul {
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
}
main .projects .card .oculto-content .content .info span {
  margin: 0px 0px 0px 15px;
  color: #6a5acd;
}
main .projects .card .oculto-content .links {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
}
main .projects .card .oculto-content .links a {
  margin: 0 10px 20px 15px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #8257e6 0%, #a40ee4 92.32%);
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 400;
}
main .projects .card .oculto-content.visible {
  display: flex;
}
main .projects .card:hover {
  z-index: 100; /* Eleva o card ao passar o mouse */
}
main .projects .card:hover .banner,
main .projects .card:hover .titulo-projeto {
  display: none;
}
main .projects .card:hover .oculto {
  opacity: 1;
  transform: translateY(0);
}
main .projects .card.no-hover {
  pointer-events: none;
  transform: none;
  box-shadow: none;
}
main .projects .card::after {
  background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  content: "";
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}
main .projects.content-visible .card {
  z-index: -1; /* Coloca os outros cards no fundo */
}
main .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contacts .content {
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
main .contacts .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contacts .info p a {
  color: white;
  text-decoration: none;
}
main .contacts .info p a:hover {
  text-decoration: underline;
}
main .contacts .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #212121;
  position: relative;
}
main .contacts .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60px;
  max-height: 60px;
  min-width: 50px;
  min-height: 50px;
}/*# sourceMappingURL=main.css.map */