@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Regras comuns para telas entre 0px e 950px */
@media (max-width: 1200px) and (min-width: 0px) {
  .home {
    flex-direction: column-reverse;
  }
  .home div:first-child {
    text-align: center;
    font-size: 25px;
  }
  .home div:first-child h1, .home div:first-child p, .home div:first-child span {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .home div:first-child span {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .home div:last-child img {
    width: 250px;
    height: 250px;
  }
  .skills .content .item {
    width: 100px;
    height: 100px;
  }
  .skills .content .item h1 {
    margin-top: 10px;
    font-size: 15px;
  }
  .skills .content .item img {
    margin: auto;
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
  }
  .projects .cards {
    flex-direction: row;
    width: 100vw;
  }
  .projects .cards .card {
    margin: 10px;
    width: 370px;
    height: 220px;
  }
  .projects .cards .card .oculto-content {
    width: 90vw;
    padding: 5%;
    height: auto;
  }
  .projects .cards .card .oculto-content .content {
    flex-direction: column-reverse;
    box-sizing: border-box;
  }
  .projects .cards .card .oculto-content .content .video {
    margin: 30px 0;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Mantém o vídeo 16:9 */
    height: 0;
  }
  .projects .cards .card .oculto-content .content .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .projects .cards .card .oculto-content .content .info {
    width: 100%;
  }
  .projects .cards .card .oculto-content .content .info p {
    margin: 0px 10px 0px 10px; /* Margem para espaçamento */
  }
  .projects .cards .card .oculto-content .links a {
    margin: 0 15px 0 0;
  }
  .contacts {
    min-height: 70vh !important;
  }
  .contacts .content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .contacts .content .info {
    margin: 20px;
  }
}
/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
  main .home, main .projects, main .contacts, main .about {
    margin-bottom: 55px;
  }
  main .home {
    min-height: 50px;
  }
  main .home div:first-child input {
    width: 300px;
    margin: auto;
  }
  main .home div:last-child {
    margin-top: 150px;
    margin-bottom: 20px;
  }
  main .skills {
    min-height: 70vh;
  }
  main .projects .cards .card .oculto-content .links {
    display: flex; /* Exibe os links em linha */
    gap: 10px; /* Espaçamento entre os links */
  }
  main .projects .cards .card .oculto-content .links a {
    height: 55px; /* Define uma altura fixa para os links */
    display: flex; /* Ativa o alinhamento flexbox */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Centraliza o texto horizontalmente */
    padding: 5px 15px; /* Adiciona um espaçamento interno lateral */
    text-align: center; /* Garante centralização do texto */
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total */
    margin: 0; /* Remove margens externas */
    width: auto; /* Permite o tamanho automático horizontal */
  }
  main .contacts {
    margin-bottom: 0;
  }
}
/* Tablet (max-width: 768px) */
@media (max-width: 1200px) and (min-width: 500px) {
  main .home {
    min-height: 65vh;
  }
  main .home div:last-child {
    margin-top: 150px;
  }
  main .about {
    min-height: 40vh;
  }
  main .skills {
    min-height: 40vh;
  }
}/*# sourceMappingURL=media-queries-main.css.map */